<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Add User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">

</head>
<body>

<div class="container my-5">
    <h1>Hi there</h1>
    <h3>http://localhost:9966/api/v1</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <p><b>/stations</b> to get ALL stations(GET) </p>
                <p><b>/stations/{id}</b> to get station by ID(GET) </p>
                <p><b>/stations/{id}</b> to remove station by ID(DELETE) </p>
                <p><b>/stations/add</b> to add a new power station(POST) <a href="../webPages/addStationForm.html" target="_blank"> -click
                    here -</a></p>
                <p><b>/stations/update</b> to update station by ID(PUT) </p>
            </div>
        </div>
    </div>
    <div class="card">
        <form class="form-signout" method="get" action="/logout">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Logout</button>
        </form>
    </div>
</div>


</body>
</html>